<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Title in Build</name>

    <description>
        This is the Discription displayed in the build info. 
    </description>

    <author href="https://bennmapes.com" email="benn.mapes@gmail.com">
        Benn Mapes
    </author>
    
    <icon src="icon.png" />

</widget>